block header
    .row-fluid.navigator.nav
        .navbar-left.navigationLogo
            a.navbar-brand(href="#")
            img.logo(src="/images/Bettair_Logo.png")
        .navbar-rigth.navigationButtons
            a(href="../" ) Home
            a(href="https://bettaircities.com/") About
            a(href="/result") Results


