extends layout

block content
  .container-fuid.allAvaliableHeigh
     .title
            h1= title
            p Welcome to #{title}
            p The platfom will display real-time data measured from the sensors without loosing any data during the communication between the devices and the platform. The current implementation of the firmware of the chipsets of NarrowBand-IoT only allows the transmission of data using UDP at the transport layer. In consequence, the reliability of the displayed data in the platform can be affected because of the specifications of the protocol doesn’t offers control over the data if some datagrams are lost. Therefore, the main objective of the project is to add reliability to the data transmitted via UDP by using a protocol at application level which will allow the detection of datagram loss.
            p This server consists of an emulator which emulates nodes by fulfilling the following form:
      .udp
            .udpSimulation
                form.udpForm(method="POST", action="/simulation/start")
                    p Number of Sensors
                    input(type="number", name="sensors", min="0", max="1300")
                    p Server Address
                    input(type="text", name="host")
                    p Server port
                    input(type="text", name="port")
                    p Number of datagram series
                    input(type="number", name="datagrams", min="0")
                    p Transmission time (in seconds)
                    input(type="number", name="timeout", min="1")
                    br
                    input.submitButton.hvr-fade(type="submit", value="Start UDP Server" )
                    br
                    br
                    p PLEASE REMEMBER TO HAVE FREE PORTS FROM 4000-5300


