doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-reboot.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-grid.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    script(src='/bootstrap/js/bootstrap.min.js')




    body
      .container-fluid.noPadding
          include  header
      block content
