doctype html
html
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-reboot.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-grid.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='https://code.highcharts.com/highcharts.js')
        script(src='https://code.highcharts.com/modules/series-label.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
        script(src="/javascripts/visualization.js")



        body
            .container-fluid.noPadding
                include  header
            .visualization
                <div class="container" id="container"></div>
            .container-fuid.allAvaliableHeigh.allAvaliableWidth
                .udp
                    .udpSimulation
                        table.tableresults
                            thead
                                tr
                                    th SimulationId
                                    th Nodes
                                    th Series-
                                    th Timeout (sec)
                            tbody
                                each aux, i in data
                                    tr
                                        td #{aux.simulation_id}
                                        td #{aux.sensors}
                                            td #{aux.datagrams}
                                        td #{aux.timeout/1000}
                                        td
                                            a(href=`/result/${aux.simulation_id}`) See more
