extends layout
block content
    h1= title
    p Welcome to #{title} #{subTitle}

    p Please let the simulation finish, don't emulate other sensors
    p wait #{waitingTime} minutes in order to do another