body {
  font: 14px 'Roboto', sans-serif;

  overflow-x: hidden;
  overflow-y: scroll;

}

a {
  color: #00B7FF;
}


.logo{
  margin: 10px;
  margin-left: 40px;
  max-width:8%;
}
.noPadding{
  padding: 0 !important;
}

/****** NAVIGATION ***/

.navigator{
  background-color: rgb(242, 242, 242);
  display: inline-block ;
  width: 100%;
  position: relative;


}

.navigationLogo{
  float: left;
}
.navigationButtons{
  padding-right: 48px;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navigationButtons a {
  margin: 0px 10px 0px 10px;
  color: rgb(10, 42, 89);
}

.navigationButtons a:hover{
  text-decoration: none;
  color: rgb(10, 42, 89);
  font-weight: bold;
}

.homepage{
  display: table;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
  position: absolute;
}
.allAvaliableHeigh{
  height: 100%;
}
.allAvaliableWidth{
  width: 100%;
}
.tableresults{
  margin: 40px;
  padding: 15px;
}
.tableresults tr{
  height: 50px;
}
.tableresults th{
  width: 200px;
  font-weight: bold;
}

.title{
  margin: 40px;
  width: 100%;
}

input{
  border:none;
  width: 400px;
  border-bottom: 2px solid #1d1e1f;
  background-color: rgba(29, 30, 31, 0);
  margin: 10px;
}
input.submitButton {
  background: #ffffff00;
  margin: 50px 0 0 0;
  border: 2px solid #134a86;
  border-radius: 25px;
  padding: 10px;
  color: #0f1b2d;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgba(29, 30, 31, 0);
  background-image: none;
  color: rgb(0, 0, 0);
}

input:focus{
  outline: 0;
}

.udp{
  background-color: #c3d9ff75;
  height: 100%;
}
.udpSimulation{
  display: table;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

.udpForm{
  margin:100px 0;
}


.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover{
  background-color: #134a86;
  color: white;
  border-color: #1d1e1f;

}


#datacontainer {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}

